@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importation des icônes Material */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
}

.material-icons {
    vertical-align: middle;
}